.pagination {
	width: 60%;
	margin: 0 auto;
	cursor: pointer;

	&_item {
		width: 5rem;
		height: 5rem;
		border-radius: 100%;
		background-color: rgba(126, 122, 122, 0.8);
		color: white;
		font-size: 1.4rem;
		&:not(:last-child) {
			margin-right: 2rem;
		}

		&.active {
			color: black;
			background-color: rgba(255, 255, 255, 0.609);
		}
	}
}
