.pagination {
	width: 60%;
	margin: 0 auto;
	cursor: pointer;

	&_item {
		width: 5rem;
		height: 5rem;
		border-radius: 100%;
		border-color: rgb(150, 147, 147);
		background-color: rgba(126, 122, 122, 0.8);
		color: white;
		font-size: 1.4rem;
		&:not(:last-child) {
			margin-right: 2rem;
		}

		.active {
			background-color: rgba(255, 255, 255, 0.829);
			border-color: rgba(255, 255, 255, 0.829);
		}
	}
}
