.checkbox {
	margin-left: 1rem;
	p {
		font-size: 1.6rem;
		font-weight: 500;
		margin-left: 1rem;

		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}
	label {
		width: max-content;
		cursor: pointer;
	}

	@media screen and (max-width: 1024px) {
		&--checkbox {
			margin-left: 1rem;
			p {
				font-size: 1.8rem;
				font-weight: 500;
				margin-left: 1rem;

				&:not(:last-child) {
					margin-bottom: 2rem;
				}
			}
		}
	}
}
